<a href="https://colab.research.google.com/github/mlingley/portfolio/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import libraries

import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv(r'C:\Users\malin\Downloads\metacritic_games1.csv')

In [ ]:
df1 = df.where(df!='tbd', None)
df1

,Title,Release_date,Metascore,User_score
0,Last Train Home,"Nov 28, 2023",83,7.3
1,Call of Duty: Modern Warfare III,"Nov 10, 2023",56,1.9
2,Super Mario RPG,"Nov 17, 2023",84,8.1
3,Alan Wake II,"Oct 27, 2023",88,8.9
4,SteamWorld Build,"Dec 1, 2023",73,None
...,...,...,...,...
12125,Operencia: The Stolen Sun,"Mar 29, 2019",82,7.1
12126,Empire Earth III,"Nov 6, 2007",50,3.3
12127,Frozen Synapse Prime,"Sep 23, 2014",84,6.8
12128,Pirates of the Caribbean: Dead Man's Chest,"Jun 27, 2006",52,7.5
12129,Caveman Warriors,"Dec 5, 2017",52,5.6

In [ ]:
df1.to_csv(r"C:\Users\malin\Downloads\metacritic_games_cleaned.csv", index=False)

In [ ]:
df2 = pd.read_csv(r'C:\Users\malin\Downloads\vchartz_data.csv')
df2

,Title,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,God of War,Series,Sony Interactive Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,69.50m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,49.95m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,30.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,God of War (2018),All,Sony Interactive Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,23.00m,NaN,NaN,NaN,NaN,NaN,20th Apr 18,23rd Nov 22,Action
4,Dynasty Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,21.28m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,The Third World War,SCD,Extreme Entertainment Group,Micronet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Jan 94,NaN,Strategy
55996,The Tomorrow Children,PS4,Sony Interactive Entertainment,Q Games,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06th Sep 16,14th Sep 18,Strategy
55997,The Tower,3DO,Open Book,Open Book,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08th Mar 96,NaN,Strategy
55998,The Tower,SAT,Open Book,Open Book,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01st Mar 96,NaN,Strategy
55999,The Tower DS,DS,DigiToys,DigiToys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26th Jun 08,NaN,Strategy

In [ ]:
df2["Total Shipped in Millions"] = df2["Total Shipped"].str.replace('m','').astype('float')
df2["Total Sales in Millions"] = df2["Total Sales"].str.replace('m','').astype('float')
df2["NA Sales in Millions"] = df2["NA Sales"].str.replace('m','').astype('float')
df2["PAL Sales in Millions"] = df2["PAL Sales"].str.replace('m','').astype('float')
df2["Japan Sales in Millions"] = df2["Japan Sales"].str.replace('m','').astype('float')
df2

,Title,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,...,Japan Sales,Other Sales,Release Date,Last Update,Genre,Total Shipped in Millions,Total Sales in Millions,NA Sales in Millions,PAL Sales in Millions,Japan Sales in Millions
0,God of War,Series,Sony Interactive Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,69.50,NaN,NaN,...,NaN,NaN,22nd Mar 05,04th Mar 20,Action,69.50,NaN,NaN,NaN,NaN
1,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,49.95,NaN,NaN,...,NaN,NaN,30th Jun 97,24th Mar 20,Action,49.95,NaN,NaN,NaN,NaN
2,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,30.00,NaN,NaN,...,NaN,NaN,16th Oct 01,03rd Feb 20,Action,30.00,NaN,NaN,NaN,NaN
3,God of War (2018),All,Sony Interactive Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,23.00,NaN,NaN,...,NaN,NaN,20th Apr 18,23rd Nov 22,Action,23.00,NaN,NaN,NaN,NaN
4,Dynasty Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,21.28,NaN,NaN,...,NaN,NaN,30th Jun 97,24th Mar 20,Action,21.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,The Third World War,SCD,Extreme Entertainment Group,Micronet,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,01st Jan 94,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
55996,The Tomorrow Children,PS4,Sony Interactive Entertainment,Q Games,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,06th Sep 16,14th Sep 18,Strategy,NaN,NaN,NaN,NaN,NaN
55997,The Tower,3DO,Open Book,Open Book,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,08th Mar 96,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
55998,The Tower,SAT,Open Book,Open Book,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,01st Mar 96,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
55999,The Tower DS,DS,DigiToys,DigiToys,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26th Jun 08,NaN,Strategy,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2.to_csv(r"C:\Users\malin\Downloads\vgchartz_data_cleaned.csv", index=False)

In [ ]:
df1 = pd.read_csv(r'C:\Users\malin\Downloads\metacritic_games_cleaned.csv')
df2 = pd.read_csv(r'C:\Users\malin\Downloads\vgchartz_data_cleaned.csv')

In [ ]:
df = pd.merge(df1, df2, on='Title', how='outer')
df

,Title,Release_date,Metascore,User_score,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Release Date,Last Update,Genre,Total Shipped in Millions,Total Sales in Millions,NA Sales in Millions,PAL Sales in Millions,Japan Sales in Millions
0,Madden NFL 21,"Aug 25, 2020",63.0,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Diablo Immortal,"Jun 2, 2022",67.0,0.5,And,Blizzard Entertainment,Blizzard Entertainment,NaN,NaN,NaN,01st Jan 19,02nd Nov 18,Action,NaN,NaN,NaN,NaN,NaN
2,Diablo Immortal,"Jun 2, 2022",67.0,0.5,iOS,Blizzard Entertainment,Blizzard Entertainment,NaN,NaN,NaN,01st Jan 19,02nd Nov 18,Action,NaN,NaN,NaN,NaN,NaN
3,Superman Returns,"Nov 20, 2006",51.0,0.5,X360,Electronic Arts,EA Tiburon,NaN,5.0,NaN,20th Nov 06,NaN,Action,NaN,0.26,0.23,0.01,NaN
4,Superman Returns,"Nov 20, 2006",51.0,0.5,DS,Electronic Arts,EA Tiburon,NaN,3.8,NaN,20th Nov 06,NaN,Action,NaN,0.07,0.07,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60864,The Perfect General II,NaN,NaN,NaN,PC,American Laser Games,Quantum Quality Productions,NaN,NaN,NaN,01st Jan 94,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60865,The Settlers III: Quest of the Amazons,NaN,NaN,NaN,PC,Blue Byte,Blue Byte,NaN,NaN,NaN,20th Dec 98,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60866,The Settlers: Rise of an Empire Gold Edition,NaN,NaN,NaN,PC,Ubisoft,Blue Byte,NaN,NaN,NaN,22nd Sep 08,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60867,The Third World War,NaN,NaN,NaN,SCD,Extreme Entertainment Group,Micronet,NaN,NaN,NaN,01st Jan 94,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60868,The Tower DS,NaN,NaN,NaN,DS,DigiToys,DigiToys,NaN,NaN,NaN,26th Jun 08,NaN,Strategy,NaN,NaN,NaN,NaN,NaN

In [ ]:
def normalize_text(text):
    return re.sub(r'[^\w\s]', '', text).lower()

In [ ]:
df['Title'] = df['Title'].apply(normalize_text)
df

,Title,Release_date,Metascore,User_score,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Release Date,Last Update,Genre,Total Shipped in Millions,Total Sales in Millions,NA Sales in Millions,PAL Sales in Millions,Japan Sales in Millions
0,madden nfl 21,"Aug 25, 2020",63.0,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,diablo immortal,"Jun 2, 2022",67.0,0.5,And,Blizzard Entertainment,Blizzard Entertainment,NaN,NaN,NaN,01st Jan 19,02nd Nov 18,Action,NaN,NaN,NaN,NaN,NaN
2,diablo immortal,"Jun 2, 2022",67.0,0.5,iOS,Blizzard Entertainment,Blizzard Entertainment,NaN,NaN,NaN,01st Jan 19,02nd Nov 18,Action,NaN,NaN,NaN,NaN,NaN
3,superman returns,"Nov 20, 2006",51.0,0.5,X360,Electronic Arts,EA Tiburon,NaN,5.0,NaN,20th Nov 06,NaN,Action,NaN,0.26,0.23,0.01,NaN
4,superman returns,"Nov 20, 2006",51.0,0.5,DS,Electronic Arts,EA Tiburon,NaN,3.8,NaN,20th Nov 06,NaN,Action,NaN,0.07,0.07,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60864,the perfect general ii,NaN,NaN,NaN,PC,American Laser Games,Quantum Quality Productions,NaN,NaN,NaN,01st Jan 94,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60865,the settlers iii quest of the amazons,NaN,NaN,NaN,PC,Blue Byte,Blue Byte,NaN,NaN,NaN,20th Dec 98,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60866,the settlers rise of an empire gold edition,NaN,NaN,NaN,PC,Ubisoft,Blue Byte,NaN,NaN,NaN,22nd Sep 08,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60867,the third world war,NaN,NaN,NaN,SCD,Extreme Entertainment Group,Micronet,NaN,NaN,NaN,01st Jan 94,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60868,the tower ds,NaN,NaN,NaN,DS,DigiToys,DigiToys,NaN,NaN,NaN,26th Jun 08,NaN,Strategy,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.drop(columns=['User Score','Release Date','Last Update'], inplace=True)
df

,Title,Release_date,Metascore,User_score,Console,Publisher,Developer,VGChartz Score,Critic Score,Genre,Total Shipped in Millions,Total Sales in Millions,NA Sales in Millions,PAL Sales in Millions,Japan Sales in Millions
0,madden nfl 21,"Aug 25, 2020",63.0,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,diablo immortal,"Jun 2, 2022",67.0,0.5,And,Blizzard Entertainment,Blizzard Entertainment,NaN,NaN,Action,NaN,NaN,NaN,NaN,NaN
2,diablo immortal,"Jun 2, 2022",67.0,0.5,iOS,Blizzard Entertainment,Blizzard Entertainment,NaN,NaN,Action,NaN,NaN,NaN,NaN,NaN
3,superman returns,"Nov 20, 2006",51.0,0.5,X360,Electronic Arts,EA Tiburon,NaN,5.0,Action,NaN,0.26,0.23,0.01,NaN
4,superman returns,"Nov 20, 2006",51.0,0.5,DS,Electronic Arts,EA Tiburon,NaN,3.8,Action,NaN,0.07,0.07,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60864,the perfect general ii,NaN,NaN,NaN,PC,American Laser Games,Quantum Quality Productions,NaN,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60865,the settlers iii quest of the amazons,NaN,NaN,NaN,PC,Blue Byte,Blue Byte,NaN,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60866,the settlers rise of an empire gold edition,NaN,NaN,NaN,PC,Ubisoft,Blue Byte,NaN,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60867,the third world war,NaN,NaN,NaN,SCD,Extreme Entertainment Group,Micronet,NaN,NaN,Strategy,NaN,NaN,NaN,NaN,NaN
60868,the tower ds,NaN,NaN,NaN,DS,DigiToys,DigiToys,NaN,NaN,Strategy,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv(r"C:\Users\malin\Downloads\metacritic_and_vgchartz_join3.csv", index=False)